/* KERESÉSHEZ SEGÍTSÉG

login.blade.php == SRCHLOGIN

register.blade.php == SRCHREGISTRATION

*/


html, body {
    height: 100%;
    overflow-y: auto;
}
body::-webkit-scrollbar {
    display: none;
  }

.submit_button {
    width: 100%;
    border-radius: 50px;
    color: #1b1b1b;
    background-color: #f0cf5b;
    border: none;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
.submit_button:hover {
    background-color: #1b1b1b;
    color: #f0cf5b;
}



  /*{{--    SRCHLOGIN    --}}*/

.login_input {
    width: 80%;
    border-radius: 50px;
    border-color: darkgray;
    text-align: left;
    font-size: medium;
    cursor: auto;

}

.login_link {
    color: #f0cf5b;
}

.login_logo {
    width: 17%;
    height: auto;
    padding: 3%;
    margin-top: 1%;
    margin-left: 1%;

    border: transparent;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
}

.login_eye {
    align-items: center;
    position: absolute;
    right: 6%;
}
.passwordIcon:hover {
   cursor: pointer;
}

.login_card {
height: 100%;
border: 1px solid black;
border-radius: 0;

}

.language-switch {
    margin-right: 5%
}
/*{{--    LOGIN END    --}}*/



/*{{--    SRCHREGISTRATION    --}}*/


#reg_container {
    position: absolute;
    width: 100%;
}
#reg_content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    overflow-y: scroll;
}

.reg_card {
    border-style: hidden;
    top: 10%;
    bottom: 10%;
    width: 40%;
    padding: 1%;
    position: absolute;
    max-height: 100%;
    overflow-y: scroll;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.41);
}
.reg_label{
    margin-bottom: 7px;
}
hr{
    margin-top: 0px;
}
.reg_logo {
    width: 10%;
    height: auto;
}

.register_image {
    width: 40%;
    height: auto;
    padding-top: 10%;
    opacity:0.5;
}

.reg_link {
    color: #f0cf5b;
}

.lang_button {
    border: none;
    background: none;
}

.reg_input {
    width: 100%;
    border-radius: 50px;
    border-color: darkgray;
    text-align: center;
    font-size: medium;
    background-color: whitesmoke;
}

.reg-form-group {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
}

.language-switch {
    float: right; 
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.reg_sex{
    text-align: left;
    float: left;
}
.reg_eye {
    position: absolute;
    right: 6%;
    top: 40px;
}

/*{{--    REGISTRATION END    --}}*/